In [1]:
import sys
sys.path.insert(0, "..")

from well_logs import Well

In [2]:
well = Well(path="/home/alexander/Documents/Data/dataset updated/417PO/")

In [3]:
well = well.match_core_logs(delta_from=-0.5, delta_to=0.5, delta_step=0.5)

In [4]:
well.segments[0].samples.head()

        DEPTH_FROM  DEPTH_TO     DELTA
SAMPLE
1          2355.60   2356.58  0.359172
2          2356.58   2357.56  0.359172
3          2357.56   2358.59  0.359172
4          2358.59   2359.59  0.402514
5          2359.59   2360.60  0.402514